
.myfont{
    font-weight: 550 ;
}
.myline {
    border: none; /* Remove default border */
    border-top: 1px solid #e0e0e0; /* Add a light gray top border */
    margin: 10px 0; /* Adjust spacing as needed */
}